
 .profile-img {
   border-radius: 20px;
   width: 50%;
 }
 
 .warning {
   color: rgb(202, 29, 29);
 }

 .portfolio-img {
    height: 350px;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    margin: 10px;
 }

 .dm-serif-font {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
 }

 .noto-serif-font {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

@media (max-width: 600px) {
  .portfolio-img {
    height: 250px;
  }
}

